*{
    font-family: 'Poppins', sans-serif;
}

.redes-sociales{
    list-style: none;
    display: flex;
    justify-content:flex-end;
    padding: 5px 5px;
    margin-right: 5px;
    margin-left: 10px;
    gap: 5px;
  


}


#titulo{
    font-size:xxx-large;

}

h1{
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
   }
   
   h2{
       text-align: center;
   }
   
   h4{
       color: rgb(1, 31, 31);
   }
   
body{
    background:linear-gradient(aliceblue,#094647);
    margin: 0px 15px;
    padding: 0px;
}

#tutoriales{
    margin: 1px 1px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius:10px;
}
#redes{
    position: relative;
}
 
#botones-barra-navegacion{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: rgb(216, 238, 231);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

.lista-barra-navegacion{
    float: left;
    border-right: 1px solid beige;
}

.lista-barra-navegacion:last-child{
    border-right: none;
}

.lista-barra-navegacion a{
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: rgb(2, 42, 29);
}

.lista-barra-navegacion a:hover:not(.active){
 background-color: #095247;
 color: beige;
}

.active{
    background-color: #095247;
}

.dropdown-cont{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-cont a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-cont a:hover{
    background-color: beige;
  }

  .lista-barra-navegacion:hover .dropdown-cont{
    display: block;
  }


.sugerencias{
    background-color: rgb(50, 166, 128);
    height: 50px;
    width: 300px;
    text-align: center;
    color: aliceblue;
    line-height:50px;
    border-radius: 10px;
    margin:0;
}

.ingredientes{
    padding: 10px;
    margin: 10px 10px;
    width: 300px;
    background-color: rgb(214, 241, 239);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.recetario{
    padding: 10px;
    margin: 10px 10px;
    width: 800px;
    background-color: rgb(199, 227, 224);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.recetas{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px 150px;
}

.video{
  margin:10px 10px;
  border-radius: 10px;
  border-color: transparent;
}
.parrafo{
    width: 1200px;
    padding: 10px;
    margin: 20px 50px;
    text-align:left;
}

.polaroid{

    width: 80%;
    background-color: white;
    margin-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;    
}

.banda-sup{
    text-align: center;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
}

.overlay {
    position:relative;
    opacity: 0;
    transition: .5s ease;
    background-color: aliceblue;
    height: 30%;
    width: 50%;
    justify-content: center;
  }

  .polaroid:hover .overlay{
    opacity: 0.8;
    bottom: 100%;
  }

.texto-polar{
    color: rgb(2, 58, 54);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(50%, -50%);
  }

div.gallery{

    background-color: white;
    background-size:cover;
    overflow: hidden;
    margin:3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom:25px;
    border:1px;
    float:center;
    width: 400px;
    height: 275px;

}

div.gallery:hover{
     border: 1px;
}



.taiyaki{
    display: flex;
    flex-direction: row;
    background-size: cover;
    padding:1px 13px;
    text-align: center;
}


.postre-favorito{
    text-align: left;
    padding: 30px;
    margin: 20px 50px;
}

#seccion-formulario{
    background-color: rgba(190, 238, 232, 0.5);
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
    margin: 10px 400px;
    border-radius: 15px;

}

